In [2]:
import pandas as pd
import numpy as np

In [3]:
pop2014 = pd.Series([100,99.3, 95.5, 93.5, 92.4, 84.8, 84.5, 78.9, 74.3, 72.8],
                   index = ['Java', 'C', 'C++', 'Python', 'C#','PHP', 'JavaScript', 'Ruby', 'R', 'Matlab'])

pop2015 = pd.Series([100,99.9, 99.4, 96.5, 91.3, 84.8, 84.5, 83.0, 76.2, 72.4],
                   index = ['Java', 'C', 'C++', 'Python', 'C#', 'R','PHP', 'JavaScript', 'Ruby', 'Matlab'])

In [4]:
pop2014

Java          100.0
C              99.3
C++            95.5
Python         93.5
C#             92.4
PHP            84.8
JavaScript     84.5
Ruby           78.9
R              74.3
Matlab         72.8
dtype: float64

In [5]:
pop2015

Java          100.0
C              99.9
C++            99.4
Python         96.5
C#             91.3
R              84.8
PHP            84.5
JavaScript     83.0
Ruby           76.2
Matlab         72.4
dtype: float64

In [10]:
df = pd.DataFrame({'2015':pop2015, '2014': pop2014})

In [11]:
df

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       93.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [16]:
df = df.sort_values(by = '2015',ascending=False)

In [17]:
df

             2014   2015
Java        100.0  100.0
C            99.3   99.9
C++          95.5   99.4
Python       93.5   96.5
C#           92.4   91.3
R            74.3   84.8
PHP          84.8   84.5
JavaScript   84.5   83.0
Ruby         78.9   76.2
Matlab       72.8   72.4

In [20]:
df['average'] = df.mean(axis=1,)

In [21]:
df

             2014   2015  average
Java        100.0  100.0   100.00
C            99.3   99.9    99.60
C++          95.5   99.4    97.45
Python       93.5   96.5    95.00
C#           92.4   91.3    91.85
R            74.3   84.8    79.55
PHP          84.8   84.5    84.65
JavaScript   84.5   83.0    83.75
Ruby         78.9   76.2    77.55
Matlab       72.8   72.4    72.60

In [24]:
presidents = pd.DataFrame([{'name':'Barack Obama','inauguration':2009, 'birtyear':1961},
                         {'name':'George W Bush','inauguration':2001, 'birtyear':1946},
                         {'name':'Bill Clinton','inauguration':1993, 'birtyear':1946},
                         {'name':'George Bush','inauguration':1989, 'birtyear':1924}])

In [25]:
presidents

   birtyear  inauguration           name
0      1961          2009   Barack Obama
1      1946          2001  George W Bush
2      1946          1993   Bill Clinton
3      1924          1989    George Bush

In [26]:
presidents_indixes = presidents.set_index('name')

In [27]:
presidents_indixes

               birtyear  inauguration
name
Barack Obama       1961          2009
George W Bush      1946          2001
Bill Clinton       1946          1993
George Bush        1924          1989

In [33]:
presidents_indixes.loc['Barack Obama']['inauguration']

2009

In [34]:
presidents_fathers = pd.DataFrame([{'son':'Barack Obama','father':'Barak Obama Sr.'},
                         {'son':'George W Bush','father':'George Bush'},
                         {'son':'George Bush','father': 'Prescott Bush'}])

In [35]:
presidents_fathers

            father            son
0  Barak Obama Sr.   Barack Obama
1      George Bush  George W Bush
2    Prescott Bush    George Bush

In [43]:
pd.merge(presidents,presidents_fathers, how='left', left_on='name', right_on='son').drop('son',axis=1)

   birtyear  inauguration           name           father
0      1961          2009   Barack Obama  Barak Obama Sr.
1      1946          2001  George W Bush      George Bush
2      1946          1993   Bill Clinton              NaN
3      1924          1989    George Bush    Prescott Bush